.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

/* 04.15.19 */

header {
  background-color: plum;
  min-height: 10vh;
  
  display: flex;
  justify-content: center;
}

main {
  background-color: lightsalmon;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  /* justify-items: center; */
}

footer {
  background-color: purple;
  min-height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
}