.App {
  /* text-align: center; */
}

/* 04.15.19 */

body {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 0 30px;
  position: relative;
  height: 80px;
}

header .nav-logowrapper {
  /* background: #f08c8c; */
  display: inline-block;
  position: static;
  top: initial;
  left: initial;
  padding-top: 30px;
  margin-right: 30px;
}

.nav-logowrapper a {
  /* background: rgb(7, 193, 206); */
  display: block;
  position: relative;
  left: initial;
}

.nav-logowrapper .navlogo {
  /* background: rgb(206, 10, 7); */
  width: 52px;
  height: 20px;
}

header .page-links {
  position: absolute;
  top: 30px;
  left: 97px;
}

header .account-links {
  position: absolute;
  top: 30px;
  right: 35px;
}

header .navlink {
  color: #888;
  font-size: 13px;
  font-weight: 400;
  padding: 15px;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  text-decoration: none;
}
main {
  min-height: 50vh;
  padding: 30px 30px 30px 30px;
  display: flex;
  justify-content: center;
}

main .main-pic {
  width: 70%;
  height: 70%;
}

footer {
  color: white;
  display: flex;
  justify-content: center;
  /* properties from 2dimensions */
  padding: 30px 30px 25px 30px;
  font-size: 13px;
  color: #888;
  font-weight: 400;
  line-height: 21px;
}

footer .svg-icon {
  width: 42px;
  height: 42px;
  padding: 0 8px;
  opacity: 0.4;
}

.dividerLine {
  background: #c9c9c9;
  height: 1px;
  margin: 0px 30px 0 30px;
}